

html {
    width: 100%; /* Set the desired width */
    margin: 0 auto; /* Center the HTML content horizontally */
}

.alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
}
/*.info{*/
/*    display: flex;*/
/*    -webkit-box-align: start;*/
/*    -ms-flex-align: start;*/
/*    align-items: flex-start;*/
/*    padding: 0px;*/
/*    gap: 405px;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    max-width: 900px;*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    margin-right: 125px;*/
/*    margin-bottom: 40px;*/
/*}*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
    margin: 0 auto;
}
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}
.laptop {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 55%; /* Adjust the value as per your preference */
    height: auto;
}


header {
    margin: 0 auto;
    width: 90%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 120px;
    z-index: 1;
}
.raksts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
raksts.center {
    margin-top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.raksts.right {
    margin-top: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.raksts.page-break {
    margin-top: 50px;
}
.raksts.page-break2{
    margin-top: -5px;
}
img {
    max-width: 120%;
    display: block;
}

.logo {
    width: 200px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    /*margin-bottom: 20px;*/
    display: block;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 195px;
    height: 80px;
}
.header-menu {
    display: flex;
    justify-items: flex-end;
    column-gap: 10px;
    box-sizing: border-box;
    padding: 8px 0;
}
.header-content{
    max-width: 100%;
    display: block;
}

section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-right {
    margin-left: auto;
    margin-right: auto;
    max-width: 70px;
    padding: 0 20px;
    position: relative;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    width: 100%;
    position: relative;
    margin: auto;
    padding-bottom: 70px;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides:first-child {
    display: block;
}

.slideshow-container img {
    width: 100%;
    height: auto;
}
.page-content {
    padding: 100px 20px;
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;

}

.circles {
    overflow-x: scroll;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    scrollbar-width: none;
}

.circles::-webkit-scrollbar {
    display: none;
}

.circles .item {
    padding-top: 37px;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 448px;
    height: 448px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #95ECFD;
}

.circles .item:hover {
    border-color: #95ECFD;
}

.circles .item:last-of-type {
    margin-right: 2px;
}

.circles .item:first-of-type {
    margin-left: 4px;
}

.circles .item:not(:first-of-type) {
    margin-left: -50px;
}

.circles .item img {
    width: 50px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 25px;
}

.circles .item .title {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #111111;
    width: 252px;
    margin-bottom: 25px;
}

.circles .item .text {
    margin: 0 auto;
    width: 262px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2A2A2A;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.container {
    /*margin-left: 75px;*/
    /*margin-right: auto;*/
    /*max-width: 600px;*/
    /*padding: 0 20px;*/

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
}
.container .formtext{
    max-width: 558px;
    width: 70%;
}
.quote {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 300px;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    color: #555555;
    margin: 0;
    padding: 0;
}

blockquote::before {
    content: '\201C';
}

blockquote::after {
    content: '\201D';
}


input[type=text], input[type=tel],input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #95ECFD;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.t1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
h1 {
    font-weight: 300;
    font-size: 100px;
    line-height: 110%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
h2 {
    font-weight: 300;
    font-size: 60px;
    font-family: 'Merriweather', serif;
    line-height: 130%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

h3 {
    font-family: Merriweather, serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #111;
    margin-bottom: 50px;
}
/* Radio button container */
.radio-container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 8px;
}

/* Hidden default radio button */
.radio-container input[type="radio"] {
    display: none;
}

/* Custom radio button */
.radio-container .radio-button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: border-color 0.3s;
}

/* Checked state for custom radio button */
.radio-container input[type="radio"]:checked + .radio-button {
    border-color: #95ECFD;
}

/* Custom radio button dot */
.radio-container .radio-button::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #95ECFD;
    margin: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Checked state for custom radio button dot */
.radio-container input[type="radio"]:checked + .radio-button::after {
    opacity: 1;
}

/* Radio label */
.radio-container .radio-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Other text input */
.radio-container .other-input {
    margin-left: 20px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
/* Submit button */
.submit-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #95ECFD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Submit button hover state */
.submit-button:hover {
    background-color: #007bff;
}
.action-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #95ECFD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Submit button hover state */
.action-button:hover {
    background-color: lightgrey;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu-btn a {
    font-weight: 400;
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: Merriweather, serif;
    color: #000;
    transition: border-color 0.3s;
    border: 1px solid transparent;
}



/* Header menu */
.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Header menu button */
.header-menu a {
    display: block;
    padding: 14px 20px;
    font-size: 25px;
    font-weight: 400;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: Merriweather, serif;
    color: #000;
    transition: border-color 0.3s;
    border: 1px solid transparent;
}
.button_sub {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    bottom: -70px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    position: absolute;
    margin-left: 190px;
}

.button_sub:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button_sub:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button_sub span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.button_sub svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.button_sub .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.button_sub:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.button_sub:hover svg {
    transform: rotate(45deg);
}

.btn_container{
    display: flex;
    justify-content: center;
}
.btn_container button{
    margin: 0 10px; /* Adjust the margin as needed */
}
.design_btn{
    margin: 10px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}
.design_btn:hover{
    background-color: #ccc;
}
.design_btn.active{
    background-color: #999;
}
/* Header menu button hover state */
.header-menu a:hover {
    border-color: #000000;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s;
}

.popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.popup-overlay.active {
    opacity: 1;
}

.popup-container.active {
    transform: translateY(0);
    opacity: 1;
}
.thank-you-popup {
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: #8af68a;
    padding: 10px;
    border-radius: 7px;
    max-width: 235px;
    text-align: center;
    display: none;
    margin-left: 1314px;
}

.thank-you-popup.active {
    display: block;
}

.thank-you-content {
    margin-bottom: 15px;
}

.close-button{
    position: absolute;
    right: -340px;
    top: -317px;
    width: 52px;
    height: 55px;
    opacity: 0.3;
}
.close-button:hover{
    opacity: 1;
}


footer {
    margin: 0 auto;
    background-color: #95ECFD;
    width: 100%;
    max-width: 1920px;
    position: relative;
}
.footer-wrap {
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    padding: 68px 20px 37px 20px;
}

.footer-flex {
    /*display: flex;*/
    /*justify-content: space-between;*/
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 76px;
    row-gap: 32px;
}



footer .footer-flex .adress h1 {
    color: #000000;
}

footer .footer-flex .adress .t1 {
    color: #000000;
}

footer .footer-flex .contact a {
    display: block;
}

footer .footer-flex .contact .number {
    font-weight: 300;
    font-size: 60px;
    line-height: 130%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #111111;
}

footer .footer-flex .contact .number span {
    color: #fff;
}

footer .footer-flex .contact .email {
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #111111;
    margin-left: auto;
    margin-right: 0;
    width: -moz-fit-content;
    width: fit-content;
}

.footer-flex.margin-big {
    margin-bottom: 167px;
}

.footer-flex.no-margin {
    margin-bottom: 0;
}

footer .links-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

/*footer .links-footer a {*/
/*    position: relative;*/
/*}*/



footer .copyright {
    padding-top: 2px;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    padding-top: 25px;
}
@media only screen and (max-width: 800px)
footer .social-links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*smaller screens format aka mobile/tablet view css*/
/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
        padding: 10px;
    }
}

/* Styles for screens between 601px and 1200px */
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .footer {
        font-size: 16px;
        padding: 30px;
    }
}

/* Styles for screens larger than 1200px */
@media screen and (min-width: 1201px) {
    .footer {
        font-size: 18px;
        padding: 40px;
    }
}
.banner {
    max-height: 1060px;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: 597px;
    width: 100%;
    position: relative;
}

.banner video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.banner .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(149, 236, 253, 0.65)), to(rgba(149, 236, 253, 0.65)));
    background: linear-gradient(0deg, rgba(149, 236, 253, 0.65), rgba(149, 236, 253, 0.65));
}

.banner .banner-content {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 145px;
}
.banner .banner-content h1 {
    font-size: 40px;
    max-width: 320px;
    margin-bottom: 12px;
}

.banner .banner-content h1 {
    margin-bottom: 30px;
    max-width: 775px;
}

.banner .banner-content h2 {
    color: #fff;
}

.banner .banner-content .banner-text {
    position: absolute;
    left: 64px;
    bottom: 79px;
}

.banner .banner-content .social-links {
    position: absolute;
    top: 145px;
    right: 60px;
}

.banner .banner-content .social-links a {
    display: block;
    margin-bottom: 4px;
}

.banner .banner-content .raksts {
    position: absolute;
    top: 170px;
    left: 0;
}

.banner .banner-content .raksts.bottom {
    position: absolute;
    bottom: 165px;
    right: 0;
    left: auto;
    top: auto;
}

.banner .banner-content .play-btn {
    width: 92px;
    position: absolute;
    bottom: 145px;
    right: 309px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
main {
    overflow: hidden;
}
header.index {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.banner .banner-content .play-btn span {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #111111;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 25% 25%;
    transform-origin: 25% 25%;
    display: block;
}

.banner .banner-content .play-btn .btn {
    width: 92px;
    height: 92px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 0 1px #111;
}

.banner .banner-content .play-btn .btn img {
    padding-left: 10px;
}

.banner .banner-content .play-btn:hover .btn {
    border-color: #111;
}

.light-blue-bg {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #C7F5FE;
}
@media only screen and (max-width: 1490px) {
    .img-wrap.pattern::after {
        transform: none !important;
        top: 10px !important;
        left: 10px !important;
    }
    .work .content .text {
        max-width: 700px;
    }
    .work .content .text h2 {
        font-size: 40px;
    }
    .work .content .text h1 {
        font-size: 80px;
    }
    .banner .banner-content h1 {
        font-size: calc(4vw + 16px);
        max-width: 320px;
        margin-bottom: 12px;
    }
    .banner .banner-content h2 {
        font-size: 20px;
    }
    .banner .banner-content .raksts {
        top: 120px;
    }
    .banner .banner-content .raksts.bottom {
        bottom: 100px;
    }
    .banner .banner-content .play-btn {
        width: auto;
        flex-direction: row-reverse;
        column-gap: 7px;
        right: auto;
        left: 64px;
        bottom: 215px;
    }
    .banner .banner-content .play-btn span {
        transform: none;
        max-width: 75px;
        font-size: 10px;
    }
    .banner .banner-content .play-btn .btn {
        width: 40px;
        height: 40px;
    }
    .banner .banner-content .play-btn .btn img {
        width: 14px;
        padding-left: 3px;
    }
}
@media only screen and (max-width: 1920px){
    .banner .banner-content h1 {
        font-size: 100px;
        max-width: 320px;
        margin-bottom: 12px;
    }
}


@media only screen and (max-height: 900px) {
    .banner .banner-content h1 {
        font-size: 40px;
        max-width: 320px;
        margin-bottom: 12px;
    }
    .banner .banner-content h2 {
        font-size: 20px;
    }
    .banner .banner-content .play-btn {
        width: auto;
        flex-direction: row-reverse;
        column-gap: 7px;
        right: auto;
        left: 64px;
        bottom: 215px;
    }
    .banner .banner-content .play-btn span {
        transform: none;
        max-width: 75px;
        font-size: 10px;
    }
    .banner .banner-content .play-btn .btn {
        width: 40px;
        height: 40px;
    }
    .banner .banner-content .play-btn .btn img {
        width: 14px;
        padding-left: 3px;
    }
    .banner .banner-content .raksts.bottom {
        bottom: 100px;
    }
    .banner .banner-content .raksts {
        top: 120px;
    }
}

@media only screen and (max-width: 1490px) {
    .img-wrap.pattern::after {
        transform: none !important;
        top: 10px !important;
        left: 10px !important;
    }
    .work .content .text {
        max-width: 700px;
    }
    .work .content .text h2 {
        font-size: 40px;
    }
    .work .content .text h1 {
        font-size: 80px;
    }
    .banner .banner-content h1 {
        font-size: 40px;
        max-width: 320px;
        margin-bottom: 12px;
    }
    .banner .banner-content h2 {
        font-size: 20px;
    }
    .banner .banner-content .raksts {
        top: 120px;
    }
    .banner .banner-content .raksts.bottom {
        bottom: 100px;
    }
    .banner .banner-content .play-btn {
        width: auto;
        flex-direction: row-reverse;
        column-gap: 7px;
        right: auto;
        left: 64px;
        bottom: 215px;
    }
    .banner .banner-content .play-btn span {
        transform: none;
        max-width: 75px;
        font-size: 10px;
    }
    .banner .banner-content .play-btn .btn {
        width: 40px;
        height: 40px;
    }
    .banner .banner-content .play-btn .btn img {
        width: 14px;
        padding-left: 3px;
    }
}

.lang-mob {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    display: none;
}

.lang-mob a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #111111;
    padding: 10px 15px;
    border: 1px solid #111;
}

.not-found h1,
.not-found h2{
    text-align:center;
}

.not-found h1 {
    font-weight: 800;
    font-size: 108px;
}

.wpcf7-not-valid-tip {
    line-height: 12px;
    font-size: 12px;
    line-height: 16px;
    margin: 2px 0 8px;
}

.wpcf7-list-item {
    margin: 0 !important;
}

.recaptcha {
    margin: 10px 0;
    display: block;
}

.form .wpcf7-form .wpcf7-response-output {
    width: 100%;
    border: none !important;
    padding: 8px 16px;
    margin: 32px 0 0;
}

.form .wpcf7-form.invalid .wpcf7-response-output {
    background-color: #ffb253;
}

.form .wpcf7-form.sent .wpcf7-response-output {
    background-color: #95ECFD;
}
.text .info .item {
    max-width:169px;
    width: 100%;
}
.kontakti-flex .text .info .item .content {
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2A2A2A;
}
.text .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px;
    gap: 405px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin-left:auto;
    margin-right:125px;
    margin-bottom: 40px;
}
.text .info .item .title {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8E8E8E;
}
.text .name {
    font-weight: 300;
    font-size: 30px;
    line-height: 130%;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2A2A2A;
    margin-bottom: 40px;
    position: relative;
    left:50%
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left:230px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}


.card{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.card-icon{
    font-size: 30px;
    background:  #95ECFD;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: none;
    color: #818181;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
}
.card a{
    color: #fff;
}


@media screen and (max-width:800px) {
    .contact-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
    .card:hover .card-icon .card:active{
        background: none;
        color: #818181;
        transform: scale(1.6);
    }

}

@media only screen and (max-width: 1360px) {
    header {
        padding: 25px 20px;
    }
}

@media only screen and (max-width: 1340px) {
    .kontakti-flex .map.pattern::after {
        display: none;
    }
    .kontakti-flex .text .info {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .kontakti-flex .text {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}

@media only screen and (max-width: 1290px) {
    .text-form-flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    .work .image .img-wrap {
        width: calc(100% - 40px);
        height: calc(100% - 30px);
        top: 10px;
        left: 20px;
    }
    .work {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .work .image {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: none;
        transform: none;
        width: 100%;
        height: auto;
        max-width: 400px;
    }
    .work {
        padding-bottom: 0;
    }
    .work .content {
        margin-bottom: 50px;
    }
    h1 {
        font-size: 40px;
        line-height: 110%;
    }
    h2 {
        font-size: 30px;
        line-height: 130%;
    }
    h3 {
        font-size: 25px;
        line-height: 130%;
    }
    h4 {
        font-size: 20px;
        line-height: 130%;
    }
    footer .footer-flex .contact .number {
        font-size: 25px;
    }
    footer .footer-flex .contact .number span {
        color: #111;
    }
    .work .content .text h2 {
        font-size: 30px;
    }
    .work .content .text h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    .mob-dropdowns {
        display: block;
    }
    .lang-mob {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .desk {
        display: none;
    }
    .menu .other-links {
        margin-left: -15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    header .header-menu .menu-btn {
        display: none;
    }
    .kontakti-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    header {
        height: 75px;
        padding: 20px 20px;
    }
    header a img {
        width: 124px;
        height: auto;
    }
    header .header-menu .hamburger {
        padding: 11.5px 8px;
    }
    .logo-mob {
        display: block;
    }
    .menu .menu-container .close-btn {
        width: 34px;
        height: 34px;
        top: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .work {
        flex-wrap: wrap;
    }
    .work .image {
        max-width: none;
    }
    .work .content .text {
        max-width: none;
    }
    .banner .banner-content h1 strong {
        font-size: 30px;
        line-height: 39px;
    }
    .banner .banner-content h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .logo-mob {
        display: block;
    }
    .menu .menu-container .close-btn {
        width: 34px;
        height: 34px;
        top: 20px;
        right: 20px;
    }
    .img-wrap.pattern::after {
        -webkit-transform: translateX(10%) translateY(10%);
        transform: translateX(10%) translateY(10%);
    }
    .text-image-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        row-gap: 81px;
    }
    .text-form-flex form * :not(div) {
        width: 100%;
        max-width: none;
    }
    .custom-select {
        max-width: none;
    }
    .banner .banner-content .raksts.bottom {
        display: none;
    }
    .banner .banner-content .raksts img:nth-child(n+3) {
        display: none;
    }
    .raksts.center img:nth-child(n+3) {
        display: none;
    }
    .raksts.page-break {
        margin-top: 30px;
    }
    .raksts.page-break img:nth-child(n+3) {
        display: none;
    }
    .banner .banner-content h1 {
        margin-bottom: 3px;
    }
    .banner .banner-content .banner-text {
        bottom: 29px;
        left: 20px;
    }
    .banner .banner-content .social-links {
        display: none;
    }
    .banner .banner-content .play-btn span {
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        -webkit-transform-origin: 25% 40%;
        transform-origin: 25% 40%;
    }
    .banner .banner-content .play-btn .btn {
        width: 40px;
        height: 40px;
    }
    .banner .banner-content .play-btn .btn img {
        width: auto;
        height: 12px;
        padding-left: 5px;
    }
    .banner .banner-content .play-btn {
        right: auto;
        left: 20px;
        bottom: 160px;
    }
    header {
        height: 75px;
        padding: 20px 20px;
    }
    header a img {
        width: 124px;
        height: auto;
    }
    header .header-menu .hamburger {
        padding: 11.5px 8px;
    }
    .raksts.right img:nth-child(n+3) {
        display: none;
    }
    .about-us {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 34px;
    }
    .about-us .text {
        max-width: none;
    }
    .about-us .img-wrap {
        max-width: none;
    }
    .about-us .img-wrap::after {
        width: 228px;
        height: 205px;
        -webkit-transform: translateY(34px) translateX(67px);
        transform: translateY(34px) translateX(67px);
    }
    .page-content {
        padding: 75px 20px;
    }
    .menu.main .raksts img:nth-child(n+3) {
        display: none;
    }
    .menu.main .raksts {
        margin-top: 35px;
        margin-bottom: 33px;
    }
    .banner .banner-content .raksts {
        top: 109px;
    }
    .work .image .img-wrap {
        width: calc(100% - 40px);
        height: calc(100% - 30px);
        top: 10px;
        left: 20px;
    }
    .page-content{
        padding: 75px 20px;
    }
}
@media only screen and (max-width:320px) {
    .circles .item:first-of-type {
        margin-left: -85px;
    }
    .text .info{
        max-width: 320px;
        margin-right: -2px;
        gap: 60px;
    }
    .text .info .item {
        max-width: 300px;
        width: 100%;
    }
    .container{
        margin-left: 30px;
        flex-direction: column;
    }
    .container .formtext {
        width: 80%;
    }
    .quote {
        font-family: 'Arial', sans-serif;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
        width: 220px;
    }
    blockquote {
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
        color: #555555;
        margin: 0;
        padding: 0;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-left: 117px;
    }
    .button_sub {
        margin-left: 77px;
    }
    .close-button {
        right: 15px;
        top: -235px;
        width: 52px;
        height: 55px;
    }
    .logo {
        width: 124px;
        height: auto;
    }
    .laptop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 100%;
        height: auto;
    }
    .banner .banner-content {
        width: 100%;
        height: 80%;
        position: relative;
        padding-top: 300px;
    }
    .banner{
        min-height: 546px;
        --vh: 7.33px;
    }
}
@media only screen and (max-width:390px) {
    .circles .item:first-of-type {
        margin-left: -45px;
    }
    .text .info{
        max-width: 320px;
        margin-right: -2px;
        gap: 60px;
    }
    .text .info .item {
        max-width: 300px;
        width: 100%;
    }
    .container{
        margin-left: 66px;
        flex-direction: column;
    }
    .container .formtext {
        width: 80%;
    }
    .quote {
        font-family: 'Arial', sans-serif;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
        width: 220px;
    }
    blockquote {
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
        color: #555555;
        margin: 0;
        padding: 0;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-left: 154px;
    }
    .button_sub {
        margin-left: 115px;
    }
    .close-button {
        right: 15px;
        top: -235px;
        width: 52px;
        height: 55px;
    }
    .logo {
        width: 164px;
        height: auto;
    }
    .laptop {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 100%;
        height: auto;
    }
    .banner .banner-content {
        width: 100%;
        height: 80%;
        position: relative;
        padding-top: 300px;
    }

    .banner{
        max-height: 586px;
        min-height: 546px;
        --vh: 7.33px;
    }
    .thank-you-popup {
        margin-left: 40px;
    }
}
@media only screen and (max-width: 800px) {
    footer .social-links {
        display: none;
    }
    footer .social-links-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    footer .footer-flex.margin-big {
        margin-bottom: 76px;
    }
    footer .links-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        row-gap: 10px;
        margin-bottom: 79px;
    }
    footer .footer-flex.no-margin {
        display: block;
    }
    .pop-up {
        padding: 0;
    }
    .work .content .links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .work .content .links .work-link {
        width: 100%;
        max-width: none;
        background-color: #95ECFD;
    }
    .text-form-flex .mail {
        font-size: 25px;
        line-height: 130%;
    }
    .text-form-flex .tel {
        font-size: 25px;
        line-height: 130%;
    }
    footer .footer-flex .contact .email {
        margin: 0;
    }
}

@media only screen and (max-width: 660px) {
    .img-gallery {
        justify-content: space-between;
    }
    .img-gallery .item {
        width: calc(50% - 25px);
        word-break: break-word;
    }
}

@media only screen and (max-width: 600px) {
    .kontakti-flex .text .info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 10px;

    }
}

@media only screen and (max-width: 460px) {
    .img-gallery {
        -webkit-column-gap: 20px;
        column-gap: 20px;

    }
    .img-gallery .item {
        width: calc(50% - 10px);
    }
}
